<a href="https://colab.research.google.com/github/jnsbrdbr/hopefully_last_thesis/blob/main/93_10000_PCA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

from sklearn.metrics import jaccard_score
from scipy.spatial.distance import pdist, squareform

from sklearn.decomposition import PCA
import copy

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

# **importing data**

In [3]:
!pip3 install pickle5
import pickle5 as pickle

Collecting pickle5
  Downloading pickle5-0.0.12-cp37-cp37m-manylinux_2_5_x86_64.manylinux1_x86_64.whl (256 kB)
     |████████████████████████████████| 256 kB 5.2 MB/s
Installing collected packages: pickle5
Successfully installed pickle5-0.0.12

In [4]:
with open('/content/drive/MyDrive/10000/ji/TTdata.pkl', "rb") as fh:
  adj = pickle.load(fh)

In [5]:
with open('/content/drive/MyDrive/10000/ji/TCFdf.pkl', "rb") as fh:
  CF = pickle.load(fh)

In [6]:
with open('/content/drive/MyDrive/10000/ji/TTFdf.pkl', "rb") as fh:
  TF = pickle.load(fh)

In [7]:
with open('/content/drive/MyDrive/10000/ji/TjaccardsimilaritydfR.pkl', "rb") as fh:
  jaccardsimilarity = pickle.load(fh)

In [8]:
with open('/content/drive/MyDrive/10000/ji/TcosinesimilaritydfR.pkl', "rb") as fh:
  cosine = pickle.load(fh)

In [9]:
with open('/content/drive/MyDrive/10000/ji/TL1normdf.pkl', "rb") as fh:
  L1_normdf = pickle.load(fh)

In [10]:
with open('/content/drive/MyDrive/10000/ji/Tsum.pkl', "rb") as fh:
  wsumdf = pickle.load(fh)

In [11]:
with open('/content/drive/MyDrive/10000/ji/Tmul.pkl', "rb") as fh:
  wmuldf = pickle.load(fh)

In [12]:
with open('/content/drive/MyDrive/10000/ji/Tadjadamicadardf.pkl', "rb") as fh:
  adjadamicadardf = pickle.load(fh)

In [13]:
with open('/content/drive/MyDrive/10000/ji/correlationdf.pkl', "rb") as fh:
  correlationdf = pickle.load(fh)

In [14]:
with open('/content/drive/MyDrive/10000/ji/euclideansimilaritydf.pkl', "rb") as fh:
  euclideansimilaritydf = pickle.load(fh)

In [15]:
with open('/content/drive/MyDrive/10000/ji/TLdata.pkl', "rb") as fh:
  adjl = pickle.load(fh)

# **implementation of PCA**

In [16]:
pca = PCA(n_components=10)
CF_pca = pca.fit_transform(CF)
CF_pca_df=pd.DataFrame(CF_pca)

In [17]:
CF_pca_df

,0,1,2,3,4,5,6,7,8,9
0,-0.018442,-4.220618,-0.916300,-0.715505,-0.868530,-1.348268,-0.474432,-0.004758,-0.581987,-0.082123
1,-0.018442,-4.220618,-0.916300,-0.715505,-0.868530,-1.348268,-0.474432,-0.004758,-0.581987,-0.082123
2,-0.018442,-4.220618,-0.916300,-0.715505,-0.868530,-1.348268,-0.474432,-0.004758,-0.581987,-0.082123
3,-0.018442,-4.220618,-0.916300,-0.715505,-0.868530,-1.348268,-0.474432,-0.004758,-0.581987,-0.082123
4,-0.018444,-4.221080,-0.916678,-0.715889,-0.869072,-1.349276,-0.475212,-0.004855,-0.583282,-0.082582
...,...,...,...,...,...,...,...,...,...,...
9995,-0.264492,-4.771727,-2.334318,-2.416962,-8.513026,15.729413,0.366719,-0.128469,0.120285,-0.001201
9996,-0.264492,-4.771727,-2.334318,-2.416962,-8.513026,15.729413,0.366719,-0.128469,0.120285,-0.001201
9997,-0.264492,-4.771727,-2.334318,-2.416962,-8.513026,15.729413,0.366719,-0.128469,0.120285,-0.001201
9998,-0.264492,-4.771727,-2.334318,-2.416962,-8.513026,15.729413,0.366719,-0.128469,0.120285,-0.001201
9999,-0.264492,-4.771727,-2.334318,-2.416962,-8.513026,15.729413,0.366719,-0.128469,0.120285,-0.001201

In [18]:
pca = PCA(n_components=10)
TF_pca = pca.fit_transform(TF)
TF_pca_df=pd.DataFrame(TF_pca)

In [19]:
TF_pca_df.rename(columns = {0:10,1:11,2:12,3:13,4:14,5:15,6:16,7:17,8:18,9:19}, inplace = True)

In [20]:
TF_pca_df

,10,11,12,13,14,15,16,17,18,19
0,-99.021665,0.003454,0.432406,-0.008372,-0.005817,-3.177284,0.176766,-0.102138,-0.251151,-0.579273
1,-99.021665,0.003454,0.432406,-0.008372,-0.005817,-3.177284,0.176766,-0.102138,-0.251151,-0.579273
2,-99.021665,0.003454,0.432406,-0.008372,-0.005817,-3.177284,0.176766,-0.102138,-0.251151,-0.579273
3,-99.021665,0.003454,0.432406,-0.008372,-0.005817,-3.177284,0.176766,-0.102138,-0.251151,-0.579273
4,4399.871791,-0.063050,-30.492457,0.006628,-7.694087,-2.758048,-5.738997,3.978466,15.198165,-1.999972
...,...,...,...,...,...,...,...,...,...,...
9995,-102.612300,0.004052,0.448548,-0.257748,-0.056785,-5.287060,0.269201,-0.146836,-0.364910,-2.759319
9996,-102.612300,0.004052,0.448548,-0.257748,-0.056785,-5.287060,0.269201,-0.146836,-0.364910,-2.759319
9997,-102.612300,0.004052,0.448548,-0.257748,-0.056785,-5.287060,0.269201,-0.146836,-0.364910,-2.759319
9998,-102.612300,0.004052,0.448548,-0.257748,-0.056785,-5.287060,0.269201,-0.146836,-0.364910,-2.759319
9999,-102.612300,0.004052,0.448548,-0.257748,-0.056785,-5.287060,0.269201,-0.146836,-0.364910,-2.759319

In [21]:
pca = PCA(n_components=10)
jaccard_similarity_pca = pca.fit_transform(jaccardsimilarity)
jaccard_similarity_pca_df=pd.DataFrame(jaccard_similarity_pca)

In [22]:
jaccard_similarity_pca_df.rename(columns = {0:20,1:21,2:22,3:23,4:24,5:25,6:26,7:27,8:28,9:29}, inplace = True)

In [23]:
jaccard_similarity_pca_df

,20,21,22,23,24,25,26,27,28,29
0,-0.567667,-4.036812,-0.965039,-0.731102,-0.837785,-1.238780,-0.508382,-0.003955,-0.484213,-0.013081
1,-0.567667,-4.036812,-0.965039,-0.731102,-0.837785,-1.238780,-0.508382,-0.003955,-0.484213,-0.013081
2,-0.567667,-4.036812,-0.965039,-0.731102,-0.837785,-1.238780,-0.508382,-0.003955,-0.484213,-0.013081
3,-0.567667,-4.036812,-0.965039,-0.731102,-0.837785,-1.238780,-0.508382,-0.003955,-0.484213,-0.013081
4,-0.567667,-4.036812,-0.965039,-0.731102,-0.837785,-1.238780,-0.508382,-0.003955,-0.484213,-0.013081
...,...,...,...,...,...,...,...,...,...,...
9995,-0.699639,-4.718327,-2.190930,-2.840643,-7.538341,15.762872,0.449938,0.024371,0.171884,0.001366
9996,-0.699639,-4.718327,-2.190930,-2.840643,-7.538341,15.762872,0.449938,0.024371,0.171884,0.001366
9997,-0.699639,-4.718327,-2.190930,-2.840643,-7.538341,15.762872,0.449938,0.024371,0.171884,0.001366
9998,-0.699639,-4.718327,-2.190930,-2.840643,-7.538341,15.762872,0.449938,0.024371,0.171884,0.001366
9999,-0.699639,-4.718327,-2.190930,-2.840643,-7.538341,15.762872,0.449938,0.024371,0.171884,0.001366

In [24]:
pca = PCA(n_components=10)
cosine_similarity_pca = pca.fit_transform(cosine)
cosine_similarity_pca_df=pd.DataFrame(cosine_similarity_pca)

In [25]:
cosine_similarity_pca_df.rename(columns = {0:30,1:31,2:32,3:33,4:34,5:35,6:36,7:37,8:38,9:39}, inplace = True)

In [26]:
cosine_similarity_pca_df

,30,31,32,33,34,35,36,37,38,39
0,-0.408046,-4.106399,-0.952151,-0.726880,-0.843857,-1.276737,-0.500571,-0.038964,-0.511940,-0.033971
1,-0.408046,-4.106399,-0.952151,-0.726880,-0.843857,-1.276737,-0.500571,-0.038964,-0.511940,-0.033971
2,-0.408046,-4.106399,-0.952151,-0.726880,-0.843857,-1.276737,-0.500571,-0.038964,-0.511940,-0.033971
3,-0.408046,-4.106399,-0.952151,-0.726880,-0.843857,-1.276737,-0.500571,-0.038964,-0.511940,-0.033971
4,-0.408046,-4.106399,-0.952151,-0.726880,-0.843857,-1.276737,-0.500571,-0.038964,-0.511940,-0.033971
...,...,...,...,...,...,...,...,...,...,...
9995,-0.574375,-4.743628,-2.231394,-2.778508,-7.866048,15.735891,0.423802,-0.038976,0.162062,0.002131
9996,-0.574375,-4.743628,-2.231394,-2.778508,-7.866048,15.735891,0.423802,-0.038976,0.162062,0.002131
9997,-0.574375,-4.743628,-2.231394,-2.778508,-7.866048,15.735891,0.423802,-0.038976,0.162062,0.002131
9998,-0.574375,-4.743628,-2.231394,-2.778508,-7.866048,15.735891,0.423802,-0.038976,0.162062,0.002131
9999,-0.574375,-4.743628,-2.231394,-2.778508,-7.866048,15.735891,0.423802,-0.038976,0.162062,0.002131

In [27]:
pca = PCA(n_components=10)
L1_normdf_similarity_pca = pca.fit_transform(L1_normdf)
L1_normdf_similarity_pca_df=pd.DataFrame(L1_normdf_similarity_pca)

In [28]:
L1_normdf_similarity_pca_df.rename(columns = {0:40,1:41,2:42,3:43,4:44,5:45,6:46,7:47,8:48,9:49}, inplace = True)

In [29]:
L1_normdf_similarity_pca_df

,40,41,42,43,44,45,46,47,48,49
0,-0.568436,-4.036255,-0.965147,-0.731306,-0.837743,-1.238412,-0.508521,-0.004879,-0.483786,-0.024599
1,-0.568436,-4.036255,-0.965147,-0.731306,-0.837743,-1.238412,-0.508521,-0.004879,-0.483786,-0.024599
2,-0.568436,-4.036255,-0.965147,-0.731306,-0.837743,-1.238412,-0.508521,-0.004879,-0.483786,-0.024599
3,-0.568436,-4.036255,-0.965147,-0.731306,-0.837743,-1.238412,-0.508521,-0.004879,-0.483786,-0.024599
4,-0.568436,-4.036255,-0.965147,-0.731306,-0.837743,-1.238412,-0.508521,-0.004879,-0.483786,-0.024599
...,...,...,...,...,...,...,...,...,...,...
9995,-0.700132,-4.718047,-2.190649,-2.841094,-7.535406,15.764355,0.450043,0.024052,0.172246,0.003267
9996,-0.700132,-4.718047,-2.190649,-2.841094,-7.535406,15.764355,0.450043,0.024052,0.172246,0.003267
9997,-0.700132,-4.718047,-2.190649,-2.841094,-7.535406,15.764355,0.450043,0.024052,0.172246,0.003267
9998,-0.700132,-4.718047,-2.190649,-2.841094,-7.535406,15.764355,0.450043,0.024052,0.172246,0.003267
9999,-0.700132,-4.718047,-2.190649,-2.841094,-7.535406,15.764355,0.450043,0.024052,0.172246,0.003267

In [30]:
pca = PCA(n_components=10)
wsumdf_similarity_pca = pca.fit_transform(wsumdf)
wsumdf_similarity_pca_df=pd.DataFrame(wsumdf_similarity_pca)

In [31]:
wsumdf_similarity_pca_df.rename(columns = {0:50,1:51,2:52,3:53,4:54,5:55,6:56,7:57,8:58,9:59}, inplace = True)

In [32]:
wsumdf_similarity_pca_df

,50,51,52,53,54,55,56,57,58,59
0,-0.684499,1.030621e-02,-0.005172,-0.007459,-0.006779,-0.012993,0.003388,0.001323,0.025152,-0.011591
1,-0.684499,2.913529e-02,-0.019582,0.000783,0.013640,0.022140,-0.013724,-0.002856,-0.003456,0.009122
2,-0.684499,-4.166248e-03,0.018578,-0.004868,-0.000105,-0.004227,-0.005817,-0.005544,-0.004873,0.019007
3,-0.684499,-5.499480e-03,0.003407,-0.012266,0.005149,0.003413,0.005778,0.002267,0.019786,0.012762
4,55.428455,4.551914e-07,-0.000017,-0.000008,-0.000010,0.000019,0.000001,0.000002,-0.000017,0.000011
...,...,...,...,...,...,...,...,...,...,...
9995,-0.684499,-2.629997e-03,0.025980,-0.009732,0.023864,-0.005200,0.008180,0.000489,0.029661,-0.006459
9996,-0.684499,1.884827e-02,-0.001967,-0.007406,0.016084,0.025967,-0.006360,-0.009587,-0.012329,-0.002223
9997,-0.684499,-2.485897e-03,-0.023795,-0.011383,0.012218,0.012745,0.009738,0.000675,-0.001637,0.000012
9998,-0.684499,-2.005386e-02,-0.004670,-0.004011,0.034267,0.002531,-0.019384,0.003053,0.016586,-0.000447
9999,-0.684499,-2.206797e-02,0.008818,-0.005563,0.002139,-0.002223,0.021574,-0.001830,-0.004009,0.004638

In [33]:
pca = PCA(n_components=10)
wmuldf_similarity_pca = pca.fit_transform(wmuldf)
wmuldf_similarity_pca_df=pd.DataFrame(wmuldf_similarity_pca)

In [34]:
wmuldf_similarity_pca_df.rename(columns = {0:60,1:61,2:62,3:63,4:64,5:65,6:66,7:67,8:68,9:69}, inplace = True)

In [35]:
wmuldf_similarity_pca_df

,60,61,62,63,64,65,66,67,68,69
0,-0.480797,-3.153354e-03,4.551748e-03,-7.205822e-03,-8.163451e-04,-1.674354e-03,-3.067455e-04,1.422009e-03,-3.204308e-03,8.568876e-04
1,-0.480797,-3.061404e-04,3.500139e-03,-3.074668e-04,4.692216e-03,-1.249730e-02,4.079524e-03,-7.602237e-03,5.883260e-03,-3.287313e-03
2,-0.480797,-3.888397e-03,-8.007996e-03,-3.511595e-03,-7.832567e-04,1.559338e-03,1.524988e-03,6.421553e-03,-1.136613e-02,-8.986780e-03
3,-0.480797,1.047778e-02,-8.143404e-03,-4.391445e-03,-8.169579e-03,7.839336e-03,9.433071e-03,-8.225683e-03,1.611014e-03,-1.871344e-03
4,38.934831,-3.128140e-07,-1.072775e-07,6.950001e-08,3.547001e-08,5.103303e-09,5.735863e-08,-4.411149e-07,9.953836e-08,-2.097552e-07
...,...,...,...,...,...,...,...,...,...,...
9995,-0.480797,2.139186e-04,-4.091308e-03,3.564229e-03,6.910697e-03,-3.366570e-03,2.832565e-03,-3.479218e-03,-1.190866e-02,-1.110181e-03
9996,-0.480797,-3.699512e-03,-2.068786e-03,-3.059588e-03,-9.362418e-03,1.823694e-03,-5.073674e-03,4.970844e-03,-4.487247e-03,6.271877e-03
9997,-0.480797,-2.972271e-03,3.700639e-03,7.792598e-03,1.645665e-03,1.892709e-03,-8.122796e-03,5.463667e-03,-3.904282e-03,-2.896244e-03
9998,-0.480797,7.279366e-05,-2.107993e-03,8.477695e-03,1.353269e-02,4.624376e-03,4.201396e-03,-3.874520e-03,4.506055e-03,-3.942465e-03
9999,-0.480797,-9.654855e-03,4.757305e-03,7.193921e-03,-5.004117e-03,-4.543698e-03,2.062138e-03,-5.029887e-03,2.308164e-03,9.881423e-03

In [36]:
pca = PCA(n_components=10)
adjadamicadardf_pca = pca.fit_transform(adjadamicadardf)
adjadamicadardf_pca_df=pd.DataFrame(adjadamicadardf_pca)

In [37]:
adjadamicadardf_pca_df.rename(columns = {0:70,1:71,2:72,3:73,4:74,5:75,6:76,7:77,8:78,9:79}, inplace = True)

In [38]:
adjadamicadardf_pca_df

,70,71,72,73,74,75,76,77,78,79
0,-0.001936,-0.592829,-0.135993,-0.105384,-0.131095,-0.226170,-0.079062,-0.001741,-0.103258,-0.009881
1,-0.001936,-0.592829,-0.135993,-0.105384,-0.131095,-0.226170,-0.079062,-0.001741,-0.103258,-0.009881
2,-0.001936,-0.592829,-0.135993,-0.105384,-0.131095,-0.226170,-0.079062,-0.001741,-0.103258,-0.009881
3,-0.001936,-0.592829,-0.135993,-0.105384,-0.131095,-0.226170,-0.079062,-0.001741,-0.103258,-0.009881
4,-0.001948,-0.597367,-0.139403,-0.108790,-0.136020,-0.236541,-0.088184,-0.006336,-0.119114,0.778688
...,...,...,...,...,...,...,...,...,...,...
9995,-0.048193,-0.711765,-0.406649,-0.406489,-1.610254,2.575944,0.082211,-0.028346,0.034073,0.003379
9996,-0.048193,-0.711765,-0.406649,-0.406489,-1.610254,2.575944,0.082211,-0.028346,0.034073,0.003379
9997,-0.048193,-0.711765,-0.406649,-0.406489,-1.610254,2.575944,0.082211,-0.028346,0.034073,0.003379
9998,-0.048193,-0.711765,-0.406649,-0.406489,-1.610254,2.575944,0.082211,-0.028346,0.034073,0.003379
9999,-0.048193,-0.711765,-0.406649,-0.406489,-1.610254,2.575944,0.082211,-0.028346,0.034073,0.003379

In [39]:
pca = PCA(n_components=10)
correlationdf_pca = pca.fit_transform(correlationdf)
correlationdf_pca_df=pd.DataFrame(correlationdf_pca)

In [40]:
correlationdf_pca_df.rename(columns = {0:80,1:81,2:82,3:83,4:84,5:85,6:86,7:87,8:88,9:89}, inplace = True)

In [41]:
correlationdf_pca_df

,80,81,82,83,84,85,86,87,88,89
0,-0.408098,-4.106620,-0.952219,-0.726960,-0.843936,-1.276594,-0.500548,-0.038992,-0.511909,-0.037494
1,-0.408098,-4.106620,-0.952219,-0.726960,-0.843936,-1.276594,-0.500548,-0.038992,-0.511909,-0.037494
2,-0.408098,-4.106620,-0.952219,-0.726960,-0.843936,-1.276594,-0.500548,-0.038992,-0.511909,-0.037494
3,-0.408098,-4.106620,-0.952219,-0.726960,-0.843936,-1.276594,-0.500548,-0.038992,-0.511909,-0.037494
4,-0.409883,-4.127790,-0.960203,-0.733782,-0.852380,-1.290314,-0.507235,-0.039593,-0.520152,-0.038535
...,...,...,...,...,...,...,...,...,...,...
9995,-0.574435,-4.743696,-2.231269,-2.778268,-7.864699,15.738850,0.423610,-0.038992,0.161958,0.000146
9996,-0.574435,-4.743696,-2.231269,-2.778268,-7.864699,15.738850,0.423610,-0.038992,0.161958,0.000146
9997,-0.574435,-4.743696,-2.231269,-2.778268,-7.864699,15.738850,0.423610,-0.038992,0.161958,0.000146
9998,-0.574435,-4.743696,-2.231269,-2.778268,-7.864699,15.738850,0.423610,-0.038992,0.161958,0.000146
9999,-0.574435,-4.743696,-2.231269,-2.778268,-7.864699,15.738850,0.423610,-0.038992,0.161958,0.000146

In [42]:
pca = PCA(n_components=10)
euclideansimilaritydf_pca = pca.fit_transform(euclideansimilaritydf)
euclideansimilaritydf_pca_df=pd.DataFrame(euclideansimilaritydf_pca)

In [43]:
euclideansimilaritydf_pca_df.rename(columns = {0:90,1:91,2:92,3:93,4:94,5:95,6:96,7:97,8:98,9:99}, inplace = True)

In [44]:
euclideansimilaritydf_pca_df

,90,91,92,93,94,95,96,97,98,99
0,-0.573874,2.287554,0.686930,0.100448,-0.062517,0.119028,-0.441208,-0.219285,-0.010240,-0.181515
1,-0.573874,2.287554,0.686930,0.100448,-0.062517,0.119028,-0.441208,-0.219285,-0.010240,-0.181515
2,-0.573874,2.287554,0.686930,0.100448,-0.062517,0.119028,-0.441208,-0.219285,-0.010240,-0.181515
3,-0.573874,2.287554,0.686930,0.100448,-0.062517,0.119028,-0.441208,-0.219285,-0.010240,-0.181515
4,-3.850835,16.547190,20.216481,11.292974,4.613619,-3.774325,6.601583,1.746854,0.057116,0.838858
...,...,...,...,...,...,...,...,...,...,...
9995,-0.581071,2.275919,-1.123127,-2.167888,-2.422360,8.098259,5.690624,0.623426,0.017369,0.231335
9996,-0.581071,2.275919,-1.123127,-2.167888,-2.422360,8.098259,5.690624,0.623426,0.017369,0.231335
9997,-0.581071,2.275919,-1.123127,-2.167888,-2.422360,8.098259,5.690624,0.623426,0.017369,0.231335
9998,-0.581071,2.275919,-1.123127,-2.167888,-2.422360,8.098259,5.690624,0.623426,0.017369,0.231335
9999,-0.581071,2.275919,-1.123127,-2.167888,-2.422360,8.098259,5.690624,0.623426,0.017369,0.231335

In [45]:
y=adjl.label
y_arr=np.array(y)
y_df=pd.DataFrame(y_arr)

In [46]:
y_df.rename(columns = {0:'label'}, inplace = True)

In [47]:
#concat
frames = [CF_pca_df, TF_pca_df, jaccard_similarity_pca_df,cosine_similarity_pca_df,
          L1_normdf_similarity_pca_df,wsumdf_similarity_pca_df,wmuldf_similarity_pca_df,adjadamicadardf_pca_df,correlationdf_pca_df,
          euclideansimilaritydf_pca_df,y_df]
result = pd.concat(frames,axis=1)

In [48]:
result

,0,1,2,3,4,5,6,7,8,9,...,91,92,93,94,95,96,97,98,99,label
0,-0.018442,-4.220618,-0.916300,-0.715505,-0.868530,-1.348268,-0.474432,-0.004758,-0.581987,-0.082123,...,2.287554,0.686930,0.100448,-0.062517,0.119028,-0.441208,-0.219285,-0.010240,-0.181515,1
1,-0.018442,-4.220618,-0.916300,-0.715505,-0.868530,-1.348268,-0.474432,-0.004758,-0.581987,-0.082123,...,2.287554,0.686930,0.100448,-0.062517,0.119028,-0.441208,-0.219285,-0.010240,-0.181515,1
2,-0.018442,-4.220618,-0.916300,-0.715505,-0.868530,-1.348268,-0.474432,-0.004758,-0.581987,-0.082123,...,2.287554,0.686930,0.100448,-0.062517,0.119028,-0.441208,-0.219285,-0.010240,-0.181515,1
3,-0.018442,-4.220618,-0.916300,-0.715505,-0.868530,-1.348268,-0.474432,-0.004758,-0.581987,-0.082123,...,2.287554,0.686930,0.100448,-0.062517,0.119028,-0.441208,-0.219285,-0.010240,-0.181515,1
4,-0.018444,-4.221080,-0.916678,-0.715889,-0.869072,-1.349276,-0.475212,-0.004855,-0.583282,-0.082582,...,16.547190,20.216481,11.292974,4.613619,-3.774325,6.601583,1.746854,0.057116,0.838858,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,-0.264492,-4.771727,-2.334318,-2.416962,-8.513026,15.729413,0.366719,-0.128469,0.120285,-0.001201,...,2.275919,-1.123127,-2.167888,-2.422360,8.098259,5.690624,0.623426,0.017369,0.231335,1
9996,-0.264492,-4.771727,-2.334318,-2.416962,-8.513026,15.729413,0.366719,-0.128469,0.120285,-0.001201,...,2.275919,-1.123127,-2.167888,-2.422360,8.098259,5.690624,0.623426,0.017369,0.231335,1
9997,-0.264492,-4.771727,-2.334318,-2.416962,-8.513026,15.729413,0.366719,-0.128469,0.120285,-0.001201,...,2.275919,-1.123127,-2.167888,-2.422360,8.098259,5.690624,0.623426,0.017369,0.231335,1
9998,-0.264492,-4.771727,-2.334318,-2.416962,-8.513026,15.729413,0.366719,-0.128469,0.120285,-0.001201,...,2.275919,-1.123127,-2.167888,-2.422360,8.098259,5.690624,0.623426,0.017369,0.231335,1
9999,-0.264492,-4.771727,-2.334318,-2.416962,-8.513026,15.729413,0.366719,-0.128469,0.120285,-0.001201,...,2.275919,-1.123127,-2.167888,-2.422360,8.098259,5.690624,0.623426,0.017369,0.231335,1

In [49]:
with pd.HDFStore('/content/drive/MyDrive/last/last_result_10000',  mode='w') as store:
    store.append('result', result,format='table')